extends layout

block content
  if(name || informacion)
    h1 Hola #{name}
    p #{informacion}
  else
    h1 Email #{email} de sexo 
      case sexo
        when "M"
            p Masculino
        when "F"
            p Femenino
        when "I"
            p Indefinido
      -y telefono #{phone}
    h2
      p Datos almacenados!
  p Welcome to world at #{time}
  